<h2>Enter a name to search for</h2>

<form action="/" name="search_form" method="get">
<label for="username">Name:</label>
<input type="text" name="username" id="username" />
<input type="submit" name="submit" value="Submit" />
</form>
<% @user_tables.each do |table| %>
  <%= table %>
<% end %>
